.fristpage {
    background-color: rgb(128, 127, 127);

}

.hovern:hover {
    color: brown;

}

#iam {
    margin-top: 200px;
}

.myphoto {
    border-radius: 500px;
    width: 500px;
    margin-top: 60px;
}

.bi {
    font-size: 40px;
    margin-left: 40px;
    color: black;


}

.ruthe {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

#skill {
    border: 6px solid black;
    border-radius: 400px;
    width: 200px;
    height: 200px;
    margin-left: 70px;
    margin-top: 40px;

}

.skillss {
    justify-content: center;
    display: inline;
    display: contents;
    gap: 40px;
}

.imghtml {
    margin-left: -4px;
    margin-top: 15px;
    width: 200px;
}

.imgcss {
    margin-left: 45px;
    margin-top: 20px;
    width: 110px;
}

.imgfi {
    margin-left: 25px;
    margin-top: 20px;
    width: 140px;
}

.imgjs {
    margin-left: 30px;
    margin-top: 25px;
    width: 130px;
}

.imgwor {
    margin-left: 10px;
    margin-top: 25px;
    width: 160px;
}

#skill:hover {
    border-color: brown;
}

#level1 {
    border: 2px solid black;
    border-radius: 40px;
    width: 700px;
    height: 25px;
    margin-top: 20px;

}

#lecolor {
    border: 1px solid green;
    background-color: green;
    border-radius: 100px;
    width: 550px;
    height: 22px;
}

#lecolorcss {
    border: 1px solid green;
    background-color: green;
    border-radius: 100px;
    width: 450px;
    height: 22px;
}

#lecolorfi {
    border: 1px solid green;
    background-color: green;
    border-radius: 100px;
    width: 400px;
    height: 21.5px;
}

#lecolorjs {
    border: 1px solid green;
    background-color: green;
    border-radius: 100px;
    width: 300px;
    height: 22px;
}

#letext {
    margin-top: 50px;
}

.skillhead {
    padding: 30px;

}

#lib {
    width: 262px;
}
#calculate1{
    width: 285px;
    height: 300px;
}

#naam {
    width: 200px;
    margin-left: 43px;
}

#game {
    width: 285px;
    height: 285px;
}

.card {
    margin-top: 40px;
}

#logg {
    width: 280px;
    height: 295px;
}

#movie {
    height: 295px;
}

.Submitcon {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
}

.in:hover {
    color: rgba(189, 9, 135, 0.648);
}

.ln:hover {
    color: blue;
}

.wh:hover {
    color: rgb(32, 157, 49);
}

.prooo {
    margin-top: 20px;
}